@use '../variables'
@use '../mixins'

nav
    @include mixins.FlexRow
    padding-left: 15px
    padding-right: 15px
    height: 50px
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    background: #252c34b3
    backdrop-filter: blur(55px)
    animation: none
    h1
        line-height: 50px
        font-size: 32px
        font-weight: 800
        font-style: italic
        text-decoration: underline
        text-decoration-color: variables.$cor-laranja
        text-decoration-thickness: 5px
        animation: none
    .text
        align-items: center
        justify-content: center
        flex: 1
        gap: 7vw
        animation: none
        a
            font-size: 20px
            font-weight: 600
            text-decoration: none
            width: fit-content
            &:hover
                text-decoration: underline
                text-decoration-color: variables.$cor-laranja
                text-decoration-thickness: 3px

.hamb
    background: none
    outline: none
    border: none
    display: none
    &:hover
        cursor: pointer


@media (max-width: 780px)
    .text
        display: none
        visibility: hidden 
        position: fixed
        @include mixins.FlexColumn
        width: 100%
        height: 100vh
        top: 50px
        background: #252c34b3
        backdrop-filter: blur(55px)


    .hamb
        margin-right: 15px
        display: block

    h1
        margin-left: 15px
    
    nav
        padding: 0
        justify-content: space-between

@media (min-width: 780px)
    .text
        @include mixins.FlexRow